@font-face {
    font-family: 'sophiaregular';
    src: url('./fonts/sophia-webfont.woff2') format('woff2'),
         url('./fonts/sophia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sitka';
    src: url('./fonts/sitkasmall-bold.woff2') format('woff2'),
         url('./fonts/sitkasmall-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

