@import "variables";
@import "bootstrap";
@import "fonts";

$color : white;

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

html, body {
  height: 100%;
  overflow : hidden;


}

body {
  font-family : Helvetica,Arial, sans-serif;
  color : $color ;
  text-rendering : geometricPrecision;
  background-color : #12141e;
  font-weight : 300;
}

footer {
  display : block;
  height : 500px;
  background-color :#cb163c; 
}

main {
  position : absolute;
  left : 0;
  top : 0;
  right : 0;
  bottom : 0;
  -webkit-overflow-scrolling: touch;
  overflow : auto; 

  &.no-event {
    a {
      pointer-events: none;
    }
    
  }
}

@keyframes scroller {
    0% {
      transform : translate(-50%,0);
     
    }
    50% {
      transform : translate(-50%,-20px);
      
    }
    100% {
      transform : translate(-50%,0);
     
    }
}


header {
  height : 100vh;

  #scroller {
    position : absolute;
    bottom : 10px;
    left : 50%;
    transform : translate(-50%,0);
    background-color : white;
    width : 20px;
    height : 2px;
    animation-duration: 1250ms;
    animation-name: scroller;
    animation-iteration-count: infinite;
    transition:opacity 550ms;
    opacity:1;

    &.scrolled {
       animation-name: none;
      opacity: 0;
    }
  }

  .container {
    margin-top : 30vh;
    position : relative;

    h1 {
      font-weight : 100;
      font-size: 3em;
      line-height : .85em;
      font-weight : 100;
      letter-spacing : .02em;
      margin-bottom : 0;

      @media (min-width: $screen-xs-min) {
       font-size: 4em;
     }

     small {
      font-weight : 100;
      color : white;
      font-size: 0.8em;
    }
  }

  a {
    color : white;
    font-weight : 400;
  }

  p {
    position : relative;
    z-index : 2;
    line-height : 1.6em;
    margin-bottom : 20px;
    margin-top : 20px;
    letter-spacing : .02em;

    span {
      margin-top : 5px;
      display : block;
    }

    a#macaron {
      position :  absolute;
      transform : rotate(-5deg);
      left :100%;
      top : 0;
      img {
       width : 100px;
       height : 100px;
       display : inline-block;
     }
   }

 }


 ul {
  margin : 20px 0;
  &:before {
    content : '';
    position : absolute;
    top : 0;
    left : 0;
    height : 5px;
    width : 100%;
    background-color : rgba(255,255,255,1);
  }

  a {
    svg {
      fill : white;
    }
  }

}

}
}

canvas {
  position : fixed;
  left : 0;
  top : 0;
  width : 100%;
  height : 100%;
  z-index : -1;
}



.text-bloc {

  color : #590cc4;
  padding : 10px;

  @media (min-width: $screen-xs-min) {
   padding : 20px;
 }

 position : relative;
 @include aspect-ratio(371,400);
 color : $color;
 text-decoration : none;
 overflow : hidden;

 &:hover {
  text-decoration : none;
  color : white;
}

span {
  position : absolute;
  left : 0;
  right : 0;
  top : 0;
  bottom : 0;
  background-size : cover;
  background-repeat : no-repeat;
  z-index: 0;
  opacity : 0.7;
}

&.on-hover {
  text-decoration : none;
  color : white;

  video,img {
    opacity : 1;
  }

}


video {
  opacity : 0;
  transition : opacity 500ms;
  position : absolute;
  top: 50%;
  left: 50%;
  min-width: 101%;
  min-height: 101%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
}

img {
  opacity : 0;
  position : absolute;
  z-index: 1;
  width : 100%;
  height : 100%;
  top : 0;
  left : 0;
  transition : opacity 500ms;
}
}

h2 {
  display : block;
  font-weight : 100;
  font-size : 1.6em;
  margin : 0 0 2px 0;
  position : relative;
  z-index : 2;
  letter-spacing : 0.02em;
}

h3 {
  display : block;
  font-weight : 100;
  font-size : 1em;
  margin : 0 0 8px 0;
  position : relative;
  z-index : 2;
  letter-spacing : 0.02em;
}

section {
  margin-bottom : 20%;
  p {
    font-size : .9em;
    position : relative;
    z-index : 2;
    letter-spacing : 0.02em;
    
    i {
      margin-top : 10px;
      margin-right : 11px;
      font-size : .9em;
      display : inline-block;
      padding : 3px 10px;
      background-color : #181828;
      margin-left : -10px;
    }


  }


}